{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4>Registro de Médicos</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field }} {% if field.errors %}
                                <div class="text-danger"><small>{{ field.errors }}</small></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success w-100">Registrarse y Pagar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}